<!-- Page info -->
<div class="page-top-info">
	<div class="container">
		<h4>Category PAge</h4>
		<div class="site-pagination">
			<a href="">Home</a> /
			<a href="">Shop</a> /
		</div>
	</div>
</div>
<!-- Page info end -->


<!-- Category section -->
<section class="category-section spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 order-2 order-lg-1">
				<div class="filter-widget">
					<h2 class="fw-title">Categories</h2>
					<ul class="category-menu">
						<li><a href="#">Mithai</a>
							<ul class="sub-menu">
								<li><a href="#">Mithai <span>(2)</span></a></li>
								<li><a href="#">Choclates<span>(56)</span></a></li>
								<li><a href="#">Cakes<span>(36)</span></a></li>
								<li><a href="#">Faracons <span>(27)</span></a></li>
							</ul>
						</li>
						<li><a href="#">Choclates</a>
							<ul class="sub-menu">
								<li><a href="#">Midi Dresses <span>(2)</span></a></li>
								<li><a href="#">Maxi Dresses<span>(56)</span></a></li>
								<li><a href="#">Prom Dresses<span>(36)</span></a></li>
							</ul>
						</li>
						<li><a href="#">Cakes</a></li>
						<li><a href="#">Faracons</a></li>

					</ul>
				</div>





				<div class="filter-widget">
					<h2 class="fw-title">Food Type</h2>
					<ul class="category-menu" style="overflow:scroll; height:300px;">
						<li><a href="#">Andhra Sweets </a></li>
						<li><a href="#">Bal Mithai</a></li>
						<li><a href="#">Badam Mithai</a></li>
						<li><a href="#">Assorted Sweets</a></li>
						<li><a href="#">Andhra Sweets </a></li>
						<li><a href="#">Bal Mithai</a></li>
						<li><a href="#">Badam Mithai</a></li>
						<li><a href="#">Assorted Sweets</a></li>
						<li><a href="#">Andhra Sweets </a></li>
						<li><a href="#">Bal Mithai</a></li>
						<li><a href="#">Badam Mithai</a></li>
						<li><a href="#">Assorted Sweets</a></li>
						<li><a href="#">Andhra Sweets </a></li>
						<li><a href="#">Bal Mithai</a></li>
						<li><a href="#">Badam Mithai</a></li>
						<li><a href="#">Assorted Sweets</a></li>
					</ul>
				</div>

				<div class="filter-widget">
					<h2 class="fw-title">PLACE OF ORIGIN</h2>
					<ul class="category-menu" style="overflow:scroll; height:250px;">
						<li><a href="#">AGRA </a></li>
						<li><a href="#">KANPUR</a></li>
						<li><a href="#">AHEMDABAD</a></li>
						<li><a href="#">AMRITSER</a></li>
						<li><a href="#">AGRA </a></li>
						<li><a href="#">KANPUR</a></li>
						<li><a href="#">AHEMDABAD</a></li>
						<li><a href="#">AMRITSER</a></li>
						<li><a href="#">AGRA </a></li>
						<li><a href="#">KANPUR</a></li>
						<li><a href="#">AHEMDABAD</a></li>
						<li><a href="#">AMRITSER</a></li>
						<li><a href="#">AGRA </a></li>
						<li><a href="#">KANPUR</a></li>
						<li><a href="#">AHEMDABAD</a></li>
						<li><a href="#">AMRITSER</a></li>
					</ul>
				</div>


				<div class="filter-widget mb-0">
					<h2 class="fw-title">refine by</h2>
					<div class="price-range-wrap">
						<h4>Price</h4>
						<div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
							data-min="10" data-max="270">
							<div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 100%;"></div>
							<span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%;">
							</span>
							<span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 100%;">
							</span>
						</div>
						<div class="range-slider">
							<div class="price-input">
								<input type="text" id="minamount">
								<input type="text" id="maxamount">
							</div>
						</div>
					</div>
				</div>

				<div class="filter-widget mb-0">
					<h2 class="fw-title">Type</h2>
					<div class="fw-size-choose">
						<div class="sc-item">
							<input type="radio" name="sc" id="xs-size">
							<label for="xs-size">Veg</label>
						</div>
						<div class="sc-item">
							<input type="radio" name="sc" id="s-size">
							<label for="s-size">Non-Veg</label>
						</div>
						<div class="sc-item">
							<input type="radio" name="sc" id="m-size" checked="">
							<label for="m-size">Fibre</label>
						</div>
						<div class="sc-item">
							<input type="radio" name="sc" id="l-size">
							<label for="l-size">Lactose Free</label>
						</div>

					</div>
				</div>

			</div>

			<div class="col-lg-9  order-1 order-lg-2 mb-5 mb-lg-0">
				<div class="row">
					<div class="col-lg-4 col-sm-6" *ngFor="let product of products;let i = index">
						<div class="product-item">
							<div class="pi-pic">
								<div class="tag-sale" *ngIf="i%5==0">ON SALE</div>
								<a [routerLink]="['/prodesc',product.product_id_PK]"><img src={{product.image}} alt=""></a>
								<div class="pi-links">
									<a href="javascript:void(0)" class="add-card" (click)="addToCart(product?.product_id_PK, 1)"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
									<a href="javascript:void(0)" class="wishlist-btn"><i class="flaticon-heart"></i></a>
								</div>
							</div>
							<div class="pi-text">
								<h6><span>&#x20b9;</span>{{product.price}}</h6>
								<a [routerLink]="['/prodesc',product.product_id_PK]">
									<p>{{product.title}}</p>
								</a>
							</div>
						</div>
					</div>
					<!-- <div class="col-lg-4 col-sm-6" *ngFor="let product of products |slice:5;let i = index">
						<div class="product-item">
							<div class="pi-pic">
								<div class="tag-sale" *ngIf="i%5==0">ON SALE</div>
								<a [routerLink]="['/prodesc',product.product_id_PK]"><img src={{product.image}} alt=""></a>
								<div class="pi-links">
									<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
									<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
								</div>
							</div>
							<div class="pi-text">
								<h6><span>&#x20b9;</span>{{product.price}}</h6>
								<p>{{product.title}}</p>
							</div>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Category section end -->