<div class="footer-pages">
    <div class="container">
       <div class="page-title">
          <h2> We Are MomsKart </h2>
       </div>

       <div class="row">
          <div class="col-lg-6">

            <div class="image">
               <h4 style="color: white;">DISCOVER INDIA’S FINEST FOODS
                 </h4>
                 <p class="half" style="color: white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                   Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>    
     
            </div>
          </div>
          <div class="col-lg-6">
            <div class=" text-center">
               <img src="assets/about1.jpg" class="imgabout" alt="">
             </div>
         </div>
       </div>

       <br><br><br>
       <div class="row">
          <div class="col-lg-6">
            <h4>TASTE AUTHENTICITY</h4>

            <p>
               It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
               The point of using Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellendus ratione labore ipsum, dolores porro reprehenderit saepe maxime atque laborum.

            </p>
 
          </div>
          <div class="col-lg-6">
             <img src="assets/about3.jpeg" alt="" class="img-fluid">
          </div>
       </div>
    
      
          <br><br>
           <h4> MAKE A DIFFERENCE</h4>

           <p>
           
When you buy from us, you support many small family-run businesses somewhere in India. That’s the power of your purchase on PlaceofOrigin.in. Join us in our endeavor to keep alive the traditions, culinary secrets, small businesses and flavours of India.

The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
           </p>
          </div>
</div>
