.imgabout{
    width: 100%;
}
.image {
    background: linear-gradient(to right, rgb(122, 74, 14) 0%, rgba(170, 101, 16, 0.47) 100%) ,url('/assets/aboutbg.jpeg');
    background-position: center;
    background-size: cover;
    color: white !important;
    padding: 35px;
background-repeat: no-repeat;
}
