<!-- Page info -->
<div class="page-top-info">
  <div class="container">
    <h4>Your cart</h4>
    <div class="site-pagination">
      <a href="">Home</a> /
      <a href="">Your cart</a>
    </div>
  </div>
</div>
<!-- Page info end -->


<!-- cart section end -->
<section class="cart-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="cart-table">
          <h3>Your Cart</h3>
          <div class="cart-table-warp">
            <table>
              <thead>
                <tr>
                  <th class="product-th">Product</th>
                  <th class="quy-th">Quantity</th>

                  <th class="total-th">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cartItem of cartItems">
                  <td class="product-col">
                    <img src="{{cartItem.image1}}" alt="{{cartItem.title}}">
                    <div class="pc-title">
                      <h4>{{cartItem.title}}</h4>
                      <p> &#x20b9;{{cartItem.discount_price}}</p>
                    </div>
                  </td>
                  <td class="quy-col">
                    <div class="quantity">
                      <div class="pro-qty">
                        <span class="dec qtybtn" (click)="updateQuantity('minus', cartItem.product_id_PK, cartItem.quantity)">-</span>
                        <input type="text" id="quantity" value={{cartItem.quantity}} (blur)="updateQuantity('update', cartItem.product_id_PK, cartItem.quantity)" />
                        <span class="inc qtybtn" (click)="updateQuantity('plus', cartItem.product_id_PK, cartItem.quantity)">+</span>
                      </div>
                    </div>
                  </td>
                  <!--   <td class="size-col"><h4>Size M</h4></td> -->
                  <td class="total-col">
                    <h4> &#x20b9;{{cartItem.discount_price * cartItem.quantity}}</h4>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="total-cost">
            <h6>Total <span> &#x20b9;{{cartTotal}}</span></h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 card-right">
        <form class="promo-code-form">
          <input type="text" placeholder="Enter promo code">
          <button>Submit</button>
        </form>
        <a href="" class="site-btn">Proceed to checkout</a>
        <a [routerLink]="['/special']" class="site-btn sb-dark">Continue shopping</a>
      </div>
    </div>
  </div>
</section>
<!-- cart section end -->

<!-- Related product section -->
<section class="related-product-section">
  <div class="container">
    <div class="section-title text-uppercase">
      <h2>Continue Shopping</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="product-item">
          <div class="pi-pic">
            <div class="tag-new">New</div>
            <img src="/assets/product/2.jpg" alt="">
            <div class="pi-links">
              <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
              <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
            </div>
          </div>
          <div class="pi-text">
            <h6> &#x20b9;35,00</h6>
            <p>Black and White Stripes Dress</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="product-item">
          <div class="pi-pic">
            <img src="/assets/product/5.jpg" alt="">
            <div class="pi-links">
              <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
              <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
            </div>
          </div>
          <div class="pi-text">
            <h6> &#x20b9;35,00</h6>
            <p>Flamboyant Pink Top </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="product-item">
          <div class="pi-pic">
            <img src="/assets/product/9.jpg" alt="">
            <div class="pi-links">
              <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
              <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
            </div>
          </div>
          <div class="pi-text">
            <h6> &#x20b9;35,00</h6>
            <p>Flamboyant Pink Top </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="product-item">
          <div class="pi-pic">
            <img src="/assets/product/1.jpg" alt="">
            <div class="pi-links">
              <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
              <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
            </div>
          </div>
          <div class="pi-text">
            <h6> &#x20b9;35,00</h6>
            <p>Flamboyant Pink Top </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Related product section end -->