

<!-- Hero section -->
<section class="hero-section">



	<div id="demo" class="carousel slide " data-ride="carousel">

		<!-- Indicators -->
		<ul class="carousel-indicators">
			<li data-target="#demo" data-slide-to="0" class="active"></li>
			<li data-target="#demo" data-slide-to="1"></li>
			<li data-target="#demo" data-slide-to="2"></li>
		</ul>

		<!-- The slideshow -->
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="section demo-slide slide1">

					<div class="col-xl-6 col-lg-7 slidecontent">
						<h2>Sattur Garlic Seeval</h2>
						<p>No Preservatives</p>
						<a [routerLink]="['/prodesc',id1]" class="site-btn sb-line">DISCOVER</a>
						<a href="#" class="site-btn sb-white">ADD TO CART</a>

					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="section demo-slide slide2">

					<div class="col-xl-6 col-lg-7 slidecontent">
						<h2>Summer Essentials</h2>
						<p>Refreshing Syrups</p>
						<a [routerLink]="['/prodesc',id1]" class="site-btn sb-line">DISCOVER</a>
						<a href="#" class="site-btn sb-white">ADD TO CART</a>

					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="section demo-slide slide3">

					<div class="col-xl-6 col-lg-7 slidecontent">
						<h2> Bajra Lassan Bhakri</h2>
						<p>From Jamnagar</p>
						<a [routerLink]="['/prodesc',id1]" class="site-btn sb-line">DISCOVER</a>
						<a href="#" class="site-btn sb-white">ADD TO CART</a>


					</div>
				</div>
			</div>
		</div>

		<!-- Left and right controls -->
		<a class="carousel-control-prev" href="#demo" data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</a>
		<a class="carousel-control-next" href="#demo" data-slide="next">
			<span class="carousel-control-next-icon"></span>
		</a>

	</div>
</section>
<!-- Hero section end -->

<!-- Features section -->
<section class="features-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 p-0 feature">
				<div class="feature-inner">
					<div class="feature-icon">
						<img src="assets/icons/1.png" alt="#">
					</div>
					<h2>DISCOVER INDIA`S LOCAL FOODS</h2>
				</div>
			</div>
			<div class="col-md-4 p-0 feature">
				<div class="feature-inner">
					<div class="feature-icon">
						<img src="assets/icons/2.png" alt="#">
					</div>
					<h2>100% AUTHENTIC & DELICIOUS
					</h2>
				</div>
			</div>
			<div class="col-md-4 p-0 feature">
				<div class="feature-inner">
					<div class="feature-icon">
						<img src="assets/icons/3.png" alt="#">
					</div>
					<h2>DELIVERED DIRECT FROM ORIGIN TO YOU
					</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Features section end -->


<!-- letest product section -->
<section class="top-letest-product-section">
	<div class="container">
		<div class="section-title">
			<h2>CURRENT BESTSELLERS</h2>
		</div>
	<div class="row">
		<div class="col-lg-3">
			<div class="product-item">
				<div class="pi-pic">
					<a [routerLink]="['/prodesc',id4]"> <img src="./assets/product/4.jpg" alt=""></a>
					<div class="pi-links">
						<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
						<!-- <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a> -->
					</div>
				</div>
				<div class="pi-text">
					<h6> &#x20b9;35,00</h6>
					<a [routerLink]="['/prodesc',id4]">
						<p>Product 4 </p>
					</a>
				</div>
			</div>

		</div>
		<div class="col-lg-3">
			<div class="product-item">
				<div class="pi-pic">
					<a [routerLink]="['/prodesc',id4]"> <img src="./assets/product/4.jpg" alt=""></a>
					<div class="pi-links">
						<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
						<!-- <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a> -->
					</div>
				</div>
				<div class="pi-text">
					<h6> &#x20b9;35,00</h6>
					<a [routerLink]="['/prodesc',id4]">
						<p>Product 4 </p>
					</a>
				</div>
			</div>

		</div>
		<div class="col-lg-3">
			<div class="product-item">
				<div class="pi-pic">
					<a [routerLink]="['/prodesc',id4]"> <img src="./assets/product/4.jpg" alt=""></a>
					<div class="pi-links">
						<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
						<!-- <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a> -->
					</div>
				</div>
				<div class="pi-text">
					<h6> &#x20b9;35,00</h6>
					<a [routerLink]="['/prodesc',id4]">
						<p>Product 4 </p>
					</a>
				</div>
			</div>

		</div>
		<div class="col-lg-3">
			<div class="product-item">
				<div class="pi-pic">
					<a [routerLink]="['/prodesc',id4]"> <img src="./assets/product/4.jpg" alt=""></a>
					<div class="pi-links">
						<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
						<!-- <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a> -->
					</div>
				</div>
				<div class="pi-text">
					<h6> &#x20b9;35,00</h6>
					<a [routerLink]="['/prodesc',id4]">
						<p>Product 4 </p>
					</a>
				</div>
			</div>

		</div>
		<div class="col-lg-3">
			<div class="product-item">
				<div class="pi-pic">
					<a [routerLink]="['/prodesc',id4]"> <img src="./assets/product/4.jpg" alt=""></a>
					<div class="pi-links">
						<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
						<!-- <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a> -->
					</div>
				</div>
				<div class="pi-text">
					<h6> &#x20b9;35,00</h6>
					<a [routerLink]="['/prodesc',id4]">
						<p>Product 4 </p>
					</a>
				</div>
			</div>

		</div>
		<div class="col-lg-3">
			<div class="product-item">
				<div class="pi-pic">
					<a [routerLink]="['/prodesc',id4]"> <img src="./assets/product/4.jpg" alt=""></a>
					<div class="pi-links">
						<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
						<!-- <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a> -->
					</div>
				</div>
				<div class="pi-text">
					<h6> &#x20b9;35,00</h6>
					<a [routerLink]="['/prodesc',id4]">
						<p>Product 4 </p>
					</a>
				</div>
			</div>

		</div>
		<div class="col-lg-3">
			<div class="product-item">
				<div class="pi-pic">
					<a [routerLink]="['/prodesc',id4]"> <img src="./assets/product/4.jpg" alt=""></a>
					<div class="pi-links">
						<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
						<!-- <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a> -->
					</div>
				</div>
				<div class="pi-text">
					<h6> &#x20b9;35,00</h6>
					<a [routerLink]="['/prodesc',id4]">
						<p>Product 4 </p>
					</a>
				</div>
			</div>

		</div>
		<div class="col-lg-3">
			<div class="product-item">
				<div class="pi-pic">
					<a [routerLink]="['/prodesc',id4]"> <img src="./assets/product/4.jpg" alt=""></a>
					<div class="pi-links">
						<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
						<!-- <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a> -->
					</div>
				</div>
				<div class="pi-text">
					<h6> &#x20b9;35,00</h6>
					<a [routerLink]="['/prodesc',id4]">
						<p>Product 4 </p>
					</a>
				</div>
			</div>

		</div>
	</div>

	</div>
</section>
<!-- letest product section end -->
<div class="hr"><img src="assets/hr.png" class="hr"></div>

<section class="banner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<a href="#">
					<div class="banner1"></div>
				</a>
			</div>
			<div class="col-md-6">
				<a href="#">
					<div class="banner2"></div>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<a href="#">
					<div class="banner2"></div>
				</a>
			</div>
			<div class="col-md-6">
				<a href="#">
					<div class="banner1"></div>
				</a>
			</div>
		</div>

	</div>
</section>
<div class="hr"><img src="assets/hr.png" class="hr"></div>
<!-- Product filter section -->


<section class="new-addition">
	<div class="container">

		<div class="section-title">
			<h2>NEW ADDITIONS</h2>
		</div>
		<BR><BR><BR>
		<div class="row">
			<div class="col-lg-3 col-sm-6" *ngFor="let item of list |slice:8">
				<div class="product-item">
					<div class="pi-pic">
						<div class="tag-new">NEW</div>
						<a [routerLink]="['/prodesc',item.id]"><img src={{item.img}} alt=""> </a>
						<div class="pi-links">
							<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
							<!-- <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a> -->
						</div>
					</div>
					<div class="pi-text">
						<h6><span> &#x20b9;</span>{{item.price}}</h6>
						<a [routerLink]="['/prodesc',item.id]">
							<p>{{item.name}}</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="hr"><img src="assets/hr.png" class="hr"></div>

<section class="product-filter-section">
	<div class="container">
		<div class="section-title">
			<h2>DISCOVER GREATS FOOD FROM MOMS ALL OVER COUNTRY</h2>
		</div>

		<div class="row">
			<div class="col-lg-3">
				<img src="assets/1.png" alt="" class="img-fluid">
			</div>
			<div class="col-lg-3">
				<img src="assets/2.jpg" alt="" class="img-fluid">
			</div>
			<div class="col-lg-3">
				<img src="assets/3.jpg" alt="" class="img-fluid">
			</div>
			<div class="col-lg-3">
				<img src="assets/4.jpg" alt="" class="img-fluid">
			</div>
		</div>


		<ul class="product-filter-menu">
			<li><a href="#">(KOLHAPUR)</a></li>
			<li><a href="#"> (KERELA)
				</a></li>
			<li><a href="#"> (KOLKATA)
				</a></li>
			<li><a href="#">(MUMBAI)
				</a></li>
			<li><a href="#"> (PUNJAB)
				</a></li>
			<li><a href="#"> (JAIPUR)
				</a></li>
			<li><a href="#"> (INDORE)
				</a></li>
			<li><a href="#"> (JAIPUR)
				</a></li>
		</ul>
	</div>
</section>


<div class="hr"><img src="assets/hr.png" class="hr"></div>

<section class="exclusive">
	<div class="container">

		<div class="section-title">
			<h2>EXCLUSIVE PRODUCTS</h2>
		</div>
		<BR><BR><BR>
		<div class="row">
			<div class="col-lg-3 col-sm-6" *ngFor="let item of list |slice:4">
				<div class="product-item">
					<div class="pi-pic">
						<a [routerLink]="['/prodesc',item.id]"><img src={{item.img}} alt=""> </a>
						<div class="pi-links">
							<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
							<!-- <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a> -->
						</div>
					</div>
					<div class="pi-text">
						<h6><span> &#x20b9;</span>{{item.price}}</h6>
						<a [routerLink]="['/prodesc',item.id]">
							<p>{{item.name}}</p>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center pt-5">
			<a [routerLink]="['/categorypage']"><button class="site-btn sb-line sb-dark">LOAD MORE</button></a>
		</div>
	</div>
</section>
<!-- Product filter section end -->
<div class="hr"><img src="assets/hr.png" class="hr"></div>

<!-- Banner section -->
<!-- <section class="banner-section">
	<div class="container">
		<div class="banner3">
			<div class="tag-new">NEW</div>
			<span>New Arrivals</span>
			<a href="#" class="site-btn">SHOP NOW</a>
		</div>
	</div>
</section> -->
<!-- Banner section end  -->