<!-- Page info -->

  <!-- Page info end -->
  
  
  <!-- Category section -->
  <section class="category-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 order-2 order-lg-1">
          <div class="filter-widget">
            <h2 class="fw-title">Account Information</h2>
            <h2 class="fw-title">Address Book</h2>
            <h2 class="fw-title"><a [routerLink]="['/cart']">My Cart</a> </h2>
            <h2 class="fw-title" ><a [routerLink]="['/dashboard']">Foodie Cash</a></h2>
            <h2 class="fw-title"> <a [routerLink]="['/generalquery']">General Queries</a></h2>
          </div>
  
        </div>
  
        <div class="col-lg-10  order-1 order-lg-2 mb-5 mb-lg-0">
            <div class="dashboard">
                <div class="container">
                  
                      <h1>Dashboard</h1>
                   <br><hr>
                   <h4>my dashboard </h4>
                   <hr>
                   <div class="section">
                     <p>
                       <span>Hello User</span>
                       <br>
                       Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque esse vitae eveniet, commodi nobis animi!
                     </p>
                   </div>
                   <br><hr>
                   <h4>Account Information  </h4>
                   <hr>
                   <div class="section">
                    <div class="row">
                    
                    <div class="col-lg-6">
                      <p>Contact Information</p>
                     
                        <a [routerLink]="['/editaccount']">EDIT</a>
                      
                      <p>
                        User
                        <br>Email ID
                        <br>
                      
                      </p>
                    </div>
                    <div class="col-lg-6"></div>
                  </div>
                   </div>
                 <br>
                 <hr>
                 <h4>address information </h4>
                 <hr>
<div class="section">
                 <div class="row">
                   <div class="col-lg-6 add">
                     <h5>DEFAULT BILLING ADDRESS</h5>
                     <a [routerLink]="['/editaddress']">Edit Address</a>
                     <div class="address">
                       Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque, quidem.
                     </div>
                   </div>
                   <div class="col-lg-6 add">
                      <h5>DEFAULT SHIPPING ADDRESS</h5>
                     <a [routerLink]="['/editaddress']">Edit Address</a>
                     <div class="address">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque, quidem.
                      </div>
                   </div>
                 </div>
                </div>
               </div>
            </div>
            
        </div>
      </div>
    </div>
  </section>
  <!-- Category section end -->